*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0;
}

body,
html {
    height: 100%;
}

body {
    background-color: #c7c7c7;
}

.container {
    position:  relative;
    min-height: 100%;
}

.main-content {
    padding-bottom: 50px;
}

header, footer {
    line-height: 50px;
    height: 50px;
    background-color: #383838;
    font-family: alfaSlab;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 10px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.options{
    height: 0;
    width: 320px;
    background-color: #383838;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 120px;
    left: 200px;
    font-family: indie;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition: height 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.options .legend {
    font-size: 20px;
    margin-bottom: 10px;
}

.optionsShow {
    height: 680px;
    transition: height 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.showLeftMenu {
    margin: 50px 0 0 200px;
    font-family: alfaSlab;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 10px;
    border: none;
    width: 320px;
    background-color: #383838;
    float: left;
    cursor: pointer;
}

.showLeftMenu:hover {
    color:#383838;
    background-color: #fff;
}

.difficulty label {
    display: block;
    text-align: left;
    padding: 5px 0 0 120px;
    height: 30px;
}

.difficulty label:hover{
    background-color: #c7c7c7
}

input[name="difficult"]:checked {
    color:#fff;
}

input[name="difficult"] + span {
    position: absolute;
    left: 120px;
    width: 10px;
    height: 10px;
    display: block;
    cursor: pointer;
    background-color: #c7c7c7;
    border-radius: 10px;
}

input[name="difficult"]:checked + span {
    background-color: #fff;
}

input[value="10"] + span {
    top: 60px;
}
input[value="20"] + span {
    top: 90px;
}
input[value="36"] + span {
    top: 120px;
}

label:hover{
    cursor: pointer;
}

.gameRules p, .someInformation{
    margin-top: 10px;
    line-height: 30px;
    word-spacing: 5px;
    text-align: left;
    padding-left: 20px;
    font-family: indie;
    font-size: 25px;
    color: #c7c7c7;
}

figure img {
    width: 150px;
    height: 150px;
}

figcaption {
    text-align: right;
    margin-right: 10px;
    font-style: italic;
    font-size: 15px;
}

[name="startGame"] {
    font-family: alfaSlab;
    margin: 20px 0 50px 0;
    background-color: #fff;
    color: #c7c7c7;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 5px solid #fff;
    cursor: pointer;
}

[name="startGame"]:hover {
    background-color: white;
    color: #383838;
}

.legend{
    margin: 20px 0;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    font-family: alfaSlab;
    font-size: 30px;
}

.mainScreen {
    position: absolute;
    top: 50px;
    left: 550px;
    height: 750px;
    width: 1200px;
    background-color: #383838;
    display: inline-block;
    padding-top: 40px;
    opacity: 1;
}

.playField{
    padding-top: 50px;
    position: absolute;
    background-color: #383838;
    height: 750px;
    width: 1200px;
    top: 50px;
    left: 550px;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    width: 1900px;
 }

main{
    width: 1900px;
    text-align: center;
    padding-bottom: 50px;
}

footer{
    text-align: right;
}

input[name="cardSkirts"] + span, input[name="cardFronts"] + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 10px;
    background: url(../images/new.png);
    opacity: 0.5;
}

input[type="radio"] {
    opacity: 0;
}

input[value="1"] + span {
    background-position: 0px 0px;
}
input[value="2"] + span {
    background-position: -100px 0px;
}
input[value="3"] + span {
    background-position: -199px 0px;
}

input[value="4"] + span {
    background-position: -100px -140px;
}
input[value="5"] + span {
    background-position: -100px -300px;

}
input[value="6"] + span {
    background-position: -1500px -500px;
}

input[type="radio"]:checked + span {
    border-radius: 10px;
    opacity: 1;
}

input[type="radio"]:hover + span{
    opacity: 1;
}

.cardsChecker {
    width: 90px;
    height: 135px;
    display: inline-block;
    position: relative;
    margin: 15px auto;
}

.countMoves, .timerZone {
    font-family: alfaSlab;
    font-size: 30px;
    color: #fff;
}

.countMoves {
    float: left;
    margin-left: 20px;
}

.timerZone {
    float: right;
    margin-right: 20px;
}

.board {
    position: relative;
    margin: 30px auto;
    width: 1150px;
    height: 650px;
    background-color: #c7c7c7;
}

.card {
    display: inline-block;
    width: 80px;
    height: 125px;
    margin: 10px;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.back, .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.backHide {
    visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.back:hover, .front:hover {
    cursor: pointer;
}

.easy{
    padding: 170px 320px 0 320px;
}

.medium {
    padding: 20px 270px 0 270px;
}

.hard{
    padding: 20px 100px 0 100px;
}

.winner {
    background-color: #383838;
    width: 1200px;
    height: 200px;
    position: absolute;
    top: 350px;
    left: 550px;
    z-index: 10;
}

.winner p {
    color: #fff;
    font-family: alfaSlab;
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: 20px;
}

.winner input {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #c7c7c7;
    border: none;
    font-size: 30px;
    text-align: center;
    font-family: bebas;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.winner input:hover {
    color: #383838;
}

.match {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.helloPlayer {
    font-family: alfaSlab;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.show{
    display: block;
}

.hide {
    display: none;
}

.rotate {
    transform: rotateY(180deg);
}
